<ion-header>
  <ion-toolbar color="omipalidarkd">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="content">
  <div class="item">
    <ion-grid fixed class="griduser">
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding confirmacion" lines="none">
            <ion-label>Confirmación del pedido</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="item">
    <ion-grid fixed class="griduser">
      <ion-row class="rowdatos">
        <ion-col size="12">
          <ion-label class="label">Datos del cliente</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="rowvaloresuser">
        <ion-col size="6">
          <ion-label>Nombres</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>{{authService.dataUser.nombre}} {{authService.dataUser.apellido}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="rowvaloresuser">
        <ion-col size="6">
          <ion-label>Cédula</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>{{authService.dataUser.cedula}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="rowvaloresuser">
        <ion-col size="6">
          <ion-label>Teléfono</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>{{authService.dataUser.telefono}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="item">
    <ion-grid fixed class="direccionEntrega">
      <ion-row class="rowdatos">
        <ion-col size="12">
          <ion-label>Dirección de Entrega</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding tipoEntrega" lines="none">
            <ion-label>Elija el tipo de entrega</ion-label>
            <ion-select interface="popover" class="item_seleccion" #mySelect
              (ionChange)="onOptionsSelected(mySelect.value)">
              <ion-select-option value="Domicilio">Domicilio</ion-select-option>
              <ion-select-option value="Local">Retiro en Local</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="domicilio">
        <ion-col size="12">
          <ion-item class="ion-no-padding tipoEntrega" lines="none">
            <ion-label>Elija la dirección</ion-label>
            <ion-select interface="popover" class="item_seleccion" #mySelect2
              (ionChange)="onOptionsSelected2(mySelect2.value)">
              <ion-select-option value="Registrada">{{direccionR}}</ion-select-option>
              <ion-select-option value="Nueva">Nueva dirección</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="mapa" class="mensajtiempo">
        <ion-col>
          <ion-item class="ion-no-padding tipoEntrega" lines="none">
            <ion-label>Indique la ubicación</ion-label>
            <ion-button slot="end" color="omipalidarkd" (click)="openModal()">
              <ion-icon name="map-outline" color="omipali"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="nuevaDireccionEnvio" class="mensajtiempo">
        <ion-col>
          <ion-label class="labeldir">Nueva Dirección</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="nuevaDireccionEnvio" class="mensajtiempo">
        <ion-col>
          <ion-textarea rows="2" class="textareadir ion-no-padding" minlength="10" required
            [(ngModel)]="newAddressString" #ctrl="ngModel">
          </ion-textarea>
          <span *ngIf="validation(ctrl,'newAddressString') != ''">
            <ion-icon slot="start" name="information-circle" color="danger"></ion-icon>
            <ion-text color="danger">
              {{validation(ctrl,'newAddressString')}}</ion-text>
          </span>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="nuevaDireccionEnvio" class="mensajtiempo">
        <ion-col>
          <ion-item color="none" lines="none" *ngIf="imagen">
            <img width="100%"
              src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s-marker+ffa500({{urlCompleta}}"
              alt="UBICACION" class="imagen mapaimagen" />
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="nuevaDireccionEnvio" class="mensajtiempo filareferenia">
        <ion-col>
          <ion-label class="labeldir">Referencia de la dirección añadida</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="nuevaDireccionEnvio" class="mensajtiempo">
        <ion-col>
          <ion-textarea rows="2" required class="textareadir ion-no-padding" minlength="10"
            [(ngModel)]="referencesString" #ctrl2="ngModel">
          </ion-textarea>
          <span *ngIf="validation(ctrl2,'referencesString') != ''">
            <ion-icon slot="start" name="information-circle" color="danger"></ion-icon>
            <ion-text color="danger">
              {{validation(ctrl2,'referencesString')}}</ion-text>
          </span>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="domicilio" class="mensajtiempo">
        <ion-col>
          <ion-label>Tiempo estimado de espera 10 - 20 minutos </ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="local">
        <ion-col>
          <ion-item class="ion-no-border direccionlocal" lines="none">
            <ion-label position="floating">Dirección Local</ion-label>
            <ion-textarea readonly rows="1" value="Jaime Roldós Avenue 220, Babahoyo">
            </ion-textarea>
            <ion-button slot="end" color="omipalidarkd" (click)="openModal()">
              <ion-icon name="map-outline" color="omipali"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="horapedido">
        <ion-col size="8">
          <ion-item class="ion-no-border hora" lines="none">
            <ion-label>Elija la hora a retirar el pedido</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item class="ion-no-border reloj" lines="none">
            <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="{{horaRetiro}}" (ionChange)="cambioDeHora($event);"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="item">
    <ion-grid fixed class="gridcarrito">
      <ion-row class="rowdatos">
        <ion-col size="12">
          <ion-label>Carrito</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="rowdatoscarritotitle">
        <ion-col size="6">
          <ion-label>Producto</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>Cantidad</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>Precio</ion-label>
        </ion-col>
      </ion-row>
      <div *ngFor="let clave of productos | keyvalue">
        <ion-row class="rowdatoscarrito" *ngFor="let producto of clave.value | keyvalue">
          <ion-col size="6">
            <ion-label>{{producto.value.producto.Titulo}}</ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-badge class="badge">{{producto.value.cantidad}}</ion-badge>
          </ion-col>
          <ion-col size="3">
            <ion-label>${{producto.value.producto.Precio | number: ".2"}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

  <div class="item">
    <ion-grid fixed class="pago">
      <ion-row class="rowdatospago">
        <ion-col size="12">
          <ion-label>Cubiertos</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding tipoPago" lines="none">
            <ion-label>Necesita cubiertos para su pedido</ion-label>
            <ion-select interface="popover" class="item_seleccion" #mySelect4
              (ionChange)="onOptionsSelected4(mySelect4.value)">
              <ion-select-option value="S">Si</ion-select-option>
              <ion-select-option value="N">No</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="item">
    <ion-grid fixed class="pago">
      <ion-row class="rowdatospago">
        <ion-col size="12">
          <ion-label>Pago</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding tipoPago" lines="none">
            <ion-label>Elija el método de pago</ion-label>
            <ion-select interface="popover" class="item_seleccion" #mySelect3
              (ionChange)="onOptionsSelected3(mySelect3.value)">
              <ion-select-option value="Efectivo">Efectivo</ion-select-option>
              <ion-select-option value="Deposito">Depósito</ion-select-option>
              <ion-select-option value="Transferencia">Transferencia</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="item">
    <ion-grid fixed class="gridresumen">
      <ion-row class="rowdatos">
        <ion-col size="12">
          <ion-label>Resumen</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="rowdatosresumen">
        <ion-col size="9">
          <ion-label>Subtotal</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>${{total | number: ".2"}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="envio" class="rowdatosresumen">
        <ion-col size="9">
          <ion-label>Envío</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>$1.50</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="item">
    <ion-grid fixed class="gridtot">
      <ion-row>
        <ion-col size="9">
          <ion-label>Total</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>${{total + costoEnvio | number: ".2"}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-grid fixed class="gridbutton">
      <ion-row>
        <ion-col size="2"> </ion-col>
        <ion-col size="8">
          <ion-button expand="block" fill="clear" class="realizarcomp" (click)="purchase()">Realizar compra</ion-button>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>