<ion-header>
  <ion-toolbar color="omipalidarkd" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Novedades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title>
            NOVEDAD #123
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-textarea clearOnEdit="true">kmcwlkdcmel</ion-textarea>
          Tenemos tres métodos de pago: efectivo, transferencia y depósito bancario. 
        </ion-card-content>
      </ion-card>
</ion-content>