<ion-header>
  <ion-toolbar color="omipalidarkd" class="toolbar" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Novedades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
        <ion-avatar item-start>
            <ion-icon name="bookmark-outline" class="novedadIcon"></ion-icon>
        </ion-avatar>
        <ion-card-header class="novedadHeader">NOVEDAD #{{idNovedad}}<br></ion-card-header>
      </ion-item>
       
        <ion-card-content>
          USUARIO REPORTADO: <br>
          {{reportUser}}<br>
          DESCRIPCIÓN: <br>
          {{description}}<br>
        </ion-card-content>
      </ion-card>
</ion-content>