<ion-header>
  <ion-toolbar color="omipalidarkd" class="toolbar" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Novedades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="visible == 'true'">
    <ion-card *ngFor="let novedad of listaNovedades">
        <ion-item>
        <ion-avatar item-start>
            <ion-icon name="bookmark-outline" class="novedadIcon"></ion-icon>
        </ion-avatar>
        <ion-card-header class="novedadHeader">NOVEDAD #{{novedad.idnovedad}}<br></ion-card-header>
      </ion-item>
       
        <ion-card-content>
          <ion-label class="boldletter">USUARIO REPORTADO:</ion-label><br>
          {{novedad.idUsuarioreportado}}<br>
          <ion-label class="boldletter">DESCRIPCIÓN: </ion-label><br>
          {{novedad.descripcion}}<br>
        </ion-card-content>
      </ion-card>
    </section>

      <ion-card *ngIf="visible == 'false'">
          <ion-item>
              <ion-avatar>
                  <ion-icon name="happy-outline" class="novedadIcon"></ion-icon>
              </ion-avatar>
            </ion-item>

            <ion-card-content>
              <ion-label> No tienes novedades registradas</ion-label>
            </ion-card-content>
      </ion-card>
</ion-content>