ion-card-header {
    font-size: 18px;
    color: #98DBD9;
    font-weight: bold;
}

.novedadIcon {
    position: relative;
    font-size: 1.75em;
    color: #98DBD9;
}

.novedadHeader {
    padding-left: 0%;
}