<ion-header>
</ion-header>

<ion-content class="container">
  <div class="ion-margin containerlogin">
    <div class="containerlogo">
      <img src="/assets/logos/logo.png" class="imglogo">
    </div>
    <form [formGroup]="phoneForm" class="phoneArea">
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input formControlName="phone"  autocapitalize inputmode="text"></ion-input>
      </ion-item>

      <div *ngFor="let error of errorMessages.phone">
        <ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-button (click)="validateAlert()" class="askCodeButton"  expand="block" >
        SOLICITAR CÓDIGO
      </ion-button>
     

    </form>

  </div>
</ion-content>