<ion-card class="ion-no-padding ion-no-margin">
  <ion-card-content class="ion-no-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="4" class="ion-no-padding" [ngClass]="{'ion-hide': banderaLoading}">
          <img src="{{img}}" onerror="this.src='/assets/img/404.jpg';" (load)="cambiarBandera()"
            [ngClass]="{'imgProducto': !banderaLoading, 'oculto': banderaLoading}">
        </ion-col>
        <ion-col size="4" *ngIf="banderaLoading">
          <ion-spinner name="crescent" class="spinner" color="omipali"></ion-spinner>
        </ion-col>
        <ion-col size="8" class="marginTop">
          <ion-row class="altoPersonalizado">
            <ion-col size="8">
              <p class="ion-text-wrap titulo ion-text-capitalize">
                {{titulo}}
              </p>
            </ion-col>
            <ion-col size="4" class="ion-text-end ion-padding-start">
              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col class="ion-no-padding ion-no-margin" size="12">
                  <p class="ion-text-start textoPrecio">
                    ${{precio | number: ".2"}}
                  </p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding columnaFondo">
            <ion-col size="3" (click)="eliminarProducto(clave1,clave2)">
              <ion-icon  name="trash" color="omipali" class="iconosSpinner"></ion-icon>
            </ion-col>
            <ion-col size="9" class="cols-cabecera2 ion-text-center">
              <ion-row class="ion-justify-items-end">
                <ion-col size="4" (click)="decrementarProducto(1,clave1,clave2)">
                  <ion-icon class="iconosSpinner" name="remove-circle-outline" *ngIf="cantidad>1"></ion-icon>
                </ion-col>
                <ion-col size="2" class="textoSpinner">{{cantidad}}</ion-col>
                <ion-col size="4" (click)="incrementarProducto(1,clave1,clave2)">
                  <ion-icon class="iconosSpinner" name="add-circle-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>