
.contenedor{
    --background: url(/assets/fondos/fondo_capaomipali.jpg) 50% 50%/ 100% 100% no-repeat;
}
.nuevac{
    color:white;

    font-size: 1.25rem;
    font-weight: bold;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}
.contendorf{
    background: rgba(0, 0, 0, 0.527);
    border-radius: 5px;
}
.datos{
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    //color: #98DBD9;
    font-weight: bold;
}
.lbldom{
    color:white;
    //color: #98DBD9;
    font-size: 0.9rem;
}
.lineahr{
    border-bottom: 2px solid white;
    //border-bottom: 2px solid #98DBD9;
}
.inputced{
    text-align: left;
    color:white;
    //color: #98DBD9;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    //border-bottom: 2px solid #98DBD9;
}
.inputnom{
    text-align: left;
    color:white;
    //color: #98DBD9;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    //border-bottom: 2px solid #98DBD9;
}
.inputape{
    text-align: left;
    color:white;
    //color: #98DBD9;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    //border-bottom: 2px solid #98DBD9;
}
.inputel{
    text-align: left;
    color:white;
    //color: #98DBD9;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    //border-bottom: 2px solid #98DBD9;
}
.inputcor{
    text-align: left;
    color:white;
    //color: #98DBD9;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    //border-bottom: 2px solid #98DBD9;
}


.siguiente{
    color: white;
    //color:#98DBD9;
    //border: 2px solid white;
    border: 2px solid #98DBD9;
    border-radius: 5px;
    font-size: 0.9rem;
}

.registrar{
    color: white;
    //color:#98DBD9;
    //border: 2px solid white;
    border: 2px solid #98DBD9;
    border-radius: 5px;
    font-size: 0.9rem;
}
.regresar{
    color: white;
    //color:#98DBD9;
    //border: 2px solid white;
    border: 2px solid #98DBD9;
    border-radius: 5px;
    font-size: 0.9rem;
}
.verubi{
    color: white;
    //color:#98DBD9;
    //border: 2px solid white;
    border: 2px solid #98DBD9;
    border-radius: 5px;
    font-size: 0.9rem;
}

.formulario{
    padding-bottom: 10px;
}


.inputref{
    height: 80px;
    text-align: left;
    color:white;
    //color: #98DBD9;
    font-size: 0.9rem;
    border: 2px solid white;
    //border: 2px solid #98DBD9;
    padding-left: 10px;
}
.inputdom{
    text-align: left;
    color:white;
    //color: #98DBD9;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    //border-bottom: 2px solid #98DBD9;
}

.icono_mapa{
    color: white;
    //color: #98DBD9;
    border-bottom: 2px solid white;
    //border-bottom: 2px solid #98DBD9;
}
.title{
    color: white;
}
.padre {
    display: flex;
    justify-content: center;
}
.hijo {
    padding: 5px;
    margin: 10px;
    
}
.imagen{
    border-radius: 5px;
}

.alert-danger{
    color: red;
    text-align: left;
    margin-left: 1rem;

}
.container-error-message{
    padding: 3px;
    font-size: 0.8rem;
}



.mapa{
    width: 300px;
    height: 900px;
}

.referenciasdom{
    margin-top: 5%;
}









