.header{
   // --background: rgba(0, 255, 162, 0.479);
   --background: rgb(162, 216, 209);
}
.contenedor{
    //--background: linear-gradient(rgba(0, 255, 162, 0.479),rgb(2, 41, 66));
    --background: linear-gradient(rgb(162, 216, 209),rgb(2, 41, 66));
    //--background:rgb(162, 216, 209);
}
.nuevac{
    color:white;
    font-size: 1.25rem;
    font-weight: bold;
}
.lista_registro{
    --background: rgba(0, 255, 162, 0.479);
}

.contendorf{
    background: rgba(0, 0, 0, 0.514);
    border-radius: 5px;
}
.datos{
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-weight: bold;
}

.lineahr{
    border-bottom: 2px solid white;
}
.inputced{
    text-align: left;
    color:white;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}
.inputnom{
    text-align: left;
    color:white;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}
.inputape{
    text-align: left;
    color:white;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}
.inputel{
    text-align: left;
    color:white;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}
.inputcor{
    text-align: left;
    color:white;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}


.siguiente{

    //--background:white;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    
}

.registrar{

    //--background:white;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    
}

.formulario{
    padding-bottom: 10px;
}


.inputref{
    height: 120px;
    text-align: left;
    color:white;
    font-size: 0.9rem;
    border: 2px solid white;
    padding-left: 10px;
}

.icono_mapa{
    color: white;
    border: 2px solid white;
}
.padre {
    display: flex;
    justify-content: center;
}
.hijo {
    padding: 10px;
    margin: 10px;
    
}

.alert-danger{
    color: red;
    text-align: left;
    margin-left: 1rem;

}
.container-error-message{
    padding: 3px;
    font-size: 0.8rem;
}



































/*.cedula{
    text-align: left;
    color:white;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}
.nombres{
    text-align: left;
    color:white;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}

.apellidos{
    text-align: left;
    color:white;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}

.telefono{
    text-align: left;
    color:white;
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}*/