<ion-header>
  <ion-toolbar color="omipalidarkd" class="toolbar" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Omi & Pali
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="logout()" name="log-out"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header hidenav-header="page1" header-height="50">
  <div class="bg-image"></div>
  <div class="bg-text">
    <img class="profile-photo" src="/assets/img/user.png" (click)="zoomImage()" />

    <ion-fab class="edit-perfil">
      <ion-button class="ion-margin-start ion-margin-end fab-button" color="omipalidarkd" (click)="abrirEdicion()">
        <ion-text>Editar Perfil</ion-text>
      </ion-button>
    </ion-fab>
  </div>
  <ion-label class="bg-text-name">{{userName}}</ion-label>
</ion-header>

<ion-content class="contenedor" padding hidenav-content="page1">
  <ion-row class="option-menu centrado ion-no-margin">
    <ion-col>
      <ion-button color="omipalidarkd" class="menu-button" (click)="abrirNovedad()">
        <ion-icon color="omipali" name="chatbox-ellipses"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="omipalidarkd" class="menu-button" (click)="mostrarCuentasBancarias()">
        <ion-icon color="omipali" name="cash"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="omipalidarkd" class="menu-button" (click)="abrirHistorial()">
        <ion-icon color="omipali" name="receipt"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="omipalidarkd" class="menu-button" (click)="abrirPreguntasFrecuentes()">
        <ion-icon color="omipali" name="help"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="centrado">
    <ion-col class="centrado">
      <label class="centrado">Novedad</label>
    </ion-col>
    <ion-col class="centrado">
      <label class="centrado">Pago</label>
    </ion-col>
    <ion-col class="centrado">
      <label class="centrado">Pedido</label>
    </ion-col>
    <ion-col class="centrado">
      <label class="centrado">Ayuda</label>
    </ion-col>
  </ion-row>

  <ion-item-divider class="centrado">
    <ion-label class="centrado favDiv">
      MIS FAVORITOS
    </ion-label>
  </ion-item-divider>

  <div>
    <ion-row>
      <ion-col size="4" *ngFor="let data of dataBebidas" style="height: 100px;" class="ion-margin-top col-favo">
        <app-favorite-producto [Imagen]="data.url" [id]="data.idProducto" [categoria]="data.categoria"
          (notificar)="actualizarPantalla($event)">
        </app-favorite-producto>
      </ion-col>
    </ion-row>
  </div>
</ion-content>