<ion-header >
  <ion-toolbar color="dark" >   
    <ion-buttons slot="start">     
      <ion-button (click)="closeModal()"> 
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="botonGuardarnuevo">
      <ion-button (click)="saveMarker()"> 
        <ion-icon slot="start" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="omipaliubi">OmiPali</ion-title>
    <ion-title *ngIf="direccionDom">Domicilio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="false">
  <div id="mapa"></div>
</ion-content>
