#mapa{
    width: 100%;
    height: 100%;
    margin-top: 15%;
    margin-bottom: 20%;
}

.geocoder {
    position: absolute;
    width: 100%;
    top: 0px;
    font-size: 0.8rem;
    z-index: 1;
}

.guardar{
    font-size: 0.8rem;
}
.crear{
    font-size: 0.8rem;
}
.eliminar{
    font-size: 0.8rem;
}
