<ion-header>
  <ion-toolbar color="omipalidarkd" class="toolbar" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Preguntas Frecuentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="bulb"></ion-icon>
              ¿Cúales son los métodos de pago?
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tenemos tres métodos de pago: efectivo, transferencia y depósito bancario. 
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="bulb"></ion-icon>
                ¿Cúales son los métodos de pago?
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Tenemos tres métodos de pago: efectivo, transferencia y depósito bancario. 
            </ion-card-content>
          </ion-card>

          <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="bulb"></ion-icon>
                  ¿Cúales son los métodos de pago?
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Tenemos tres métodos de pago: efectivo, transferencia y depósito bancario. 
              </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    <ion-icon name="bulb"></ion-icon>
                    ¿Cúales son los métodos de pago?
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Tenemos tres métodos de pago: efectivo, transferencia y depósito bancario. 
                </ion-card-content>
              </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>