<ion-header>
  <ion-toolbar color="omipalidarkd" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Omi Pali
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenedor">
  <ion-row class="centrado image-perfil">
    <ion-col class="centrado">
      <img
        class="profile-photo"
        src="/assets/img/user.png"
        (click)="zoomImage()"
      />
    </ion-col>
  </ion-row>

  <ion-row class="centrado">
    <ion-col>
      <ion-button
        class="ion-margin-start ion-margin-end"
        color="omipalidarkd"
        (click)="abrirEdicion()"
      >
        Cargar imagen
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-list>
      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username">Jane Doe</ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"
          >example@example.com</ion-input
        >
      </ion-item>
      <ion-item>
        <ion-label>Contacto</ion-label>
        <ion-input>098547126</ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password">1234567890</ion-input>
      </ion-item>
    </ion-list>
  </ion-row>

  <ion-row class="centrado">
    <ion-item-divider class="centrado">
      <ion-label class="label-input">
        Detalles de entrega
      </ion-label>
    </ion-item-divider>
  </ion-row>

  <ion-list>
    <ion-item>
      <ion-label>Referencia</ion-label>
      <textarea>
        Entrando tres cuadras atras del Mall del Sur.
      </textarea>
    </ion-item>
  </ion-list>

  <ion-row class="save-change centrado">
    <ion-col class="save-change centrado">
      <ion-button color="omipalidarkd" (click)="guardarCambios()"
        >Guardar Cambios
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
