<ion-header>
  <ion-toolbar color="omipalidarkd" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Omi Pali
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenedor">
  <ion-row class="centrado image-perfil">
    <ion-col class="centrado">
      <img
        class="profile-photo"
        src="/assets/img/user.png"
        (click)="zoomImage()"
      />
    </ion-col>
  </ion-row>

  <ion-row class="centrado">
    <ion-col>
      <ion-button
        class="ion-margin-start ion-margin-end"
        color="omipalidarkd"
        (click)="abrirEdicion()"
      >
        Cargar imagen
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-content>
    <div class="ion-padding">
      <form [formGroup]="registrationForm" (ngSubmit)="submit()">
        <ion-list>
          <ion-item>
            <ion-label >Usuario</ion-label>
            <ion-input
              class="input-from"
              autocapitalize
              inputmode="text"
              formControlName="name"
            ></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.name">
            <ng-container
              *ngIf="name.hasError(error.type) && (name.dirty || name.touched)"
            >
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <ion-item>
            <ion-label >Celular</ion-label>
            <ion-input
              class="input-from"
              inputmode="tel"
              formControlName="phone"
            ></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.phone">
            <ng-container
              *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)"
            >
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input
              class="input-from"
              inputmode="email"
              formControlName="email"
            ></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.email">
            <ng-container
              *ngIf="email.hasError(error.type) && (email.dirty || email.touched)"
            >
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
        </ion-list>

        <ion-item-divider>
          <ion-label>
            Ubicación
          </ion-label>
        </ion-item-divider>

        <ion-list>
          <ion-item>
            <ion-label>Dirección</ion-label    >
              <ion-button   type="button"   class="ion-margin-start ion-margin-end"      color="omipalidarkd"    expand="block"  (click)="openModal()"   >
              <ion-icon color="omipali" name="map-outline" ></ion-icon>
            </ion-button>
            <ion-input class="input-from" type="text"></ion-input>
          </ion-item>



          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="1"></ion-textarea>
          </ion-item>




          <ion-item>
            <ion-label>Referencia</ion-label>
            <textarea class="input-from text-area">
Entrando tres cuadras atras del Mall del Sur.
            </textarea>
          </ion-item>
        </ion-list>

        <ion-button
          [disabled]="!registrationForm.valid"
          class="ion-margin-start ion-margin-end ion-butt-save"
          color="omipalidarkd"
          type="submit"
          expand="block"
        >
          Guardar Cambios
        </ion-button>
      </form>
    </div>
  </ion-content>
</ion-content>
