.toolbar {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

div {
  text-align: center;
  width: 100%;
}

.profile-photo {
  border-radius: 100% !important;
  width: 9rem;
  height: 9rem;
}

.item {
  margin-top: 0px;
  background-color:white
}

ion-list {
  padding: 0px;
}

.centrado {
  margin-right: auto;
  margin-left: auto;
  align-content: center;
  align-items: center;
  text-align: center;
}



.image-perfil {
  margin-top: 1rem;
}

.fab-button {
  width: 30%;
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
}

.input-from {
  // margin-top: 1rem;
}

.text-area {
  font-size: 1rem;
  padding: 2px;
}

.ion-butt-save {
  margin-top: 2rem;
}

.contenedor {
  font-size: 1rem;
}

.content {
  --background: rgb(231, 231, 231);
}

form{
  background-color: yellow;
}

.divider{
  //background-color: red !important;
 // --background: white !important;
  margin-top: 2rem;
}

.item-direcc{
  margin-top: 2rem;
}

.ion-map-button{
margin-top: 0px;
  margin-left: 5rem;
}


.direccion{

}


