<ion-header>
  <ion-toolbar>
    <ion-title>rastreo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>{{time | async}}</h1>
    <ion-button color="primary" (click)="startTimer(20)">START</ion-button>
    
    <IonItem>
      <IonLabel>Hair Color</IonLabel>
      <IonSelect value={hairColor} okText="Okay" cancelText="Dismiss" onIonChange={e => setHairColor(e.detail.value)}>
        <IonSelectOption value="brown">Brown</IonSelectOption>
        <IonSelectOption value="blonde">Blonde</IonSelectOption>
        <IonSelectOption value="black">Black</IonSelectOption>
        <IonSelectOption value="red">Red</IonSelectOption>
      </IonSelect>
    </IonItem>
    
</ion-content>
