
<ion-content class="contenedor">
  <div class="contenedorlogo">
      <img src="../../../assets/logos/logo.png" class="imagenlogo">
  </div>
    <form class="ion-margin" [formGroup]="formulario_login" (ngSubmit)="save()">
        <ion-item  lines="none" class="telefono" color="none" >
          <ion-icon slot="start" name="call-sharp" ></ion-icon>
          <ion-input type="text" placeholder="Teléfono" class="inputel" formControlName="telefono" ></ion-input>
        </ion-item>
        <div class="alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
          <div class="container-error-message parpadea" *ngIf="telefono.errors.required">
            Debe ingresar su número de teléfono
          </div>
          <div class="container-error-message parpadea" *ngIf="telefono.errors.minlength">
            El teléfono debe tener 10 dígitos
          </div>
          <div class="container-error-message parpadea" *ngIf="telefono.errors.maxlength">
            El teléfono debe tener 10 dígitos
          </div>
        </div>
        <ion-item  lines="none" class="contrasena" color="none">
          <ion-icon slot="start" name="lock-closed-sharp" class="iconocontra"></ion-icon>
          <ion-input type="password" placeholder="Contraseña" class="inputcontra" formControlName="contrasena" ></ion-input>
        </ion-item>
        <div class="alert-danger" *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)">
          <div class="container-error-message parpadea" *ngIf="contrasena.errors.required">
            Debe ingresar su contraseña
          </div>
          <div class="container-error-message parpadea" *ngIf="contrasena.errors.minlength">
            La contraseña debe tener más de 7 caracteres
          </div>
        </div>
        <div class="recuperarcontra">
          <span slot="end"><a   class="linkcontra"> ¿Olvidó su contraseña?</a></span>       
        </div>        
        <div class="contenedorboton">
          <ion-button  type="submit" expand="block" fill="clear"  class="login" [disabled]="!formulario_login.valid" >
            Ingresar
          </ion-button>
        </div>
        <div class="registrar" >
          <span slot="end" class="cuenta">¿No tienes una cuenta?&nbsp;<a href="./"  class="registro" [routerLink]="['/registro']">Registrate</a></span>   
        </div>  
    </form>
    
    <div class="contenedor_division">
      <ion-label class="opcion">Iniciar sesión con</ion-label>
      <hr width=90% color="white" class="linea" >
    </div>  

    <div class="padre">
      <div class="hijo"><ion-icon name="logo-google" class="google" ></ion-icon></div>
      <div class="hijo"><ion-icon name="logo-facebook" class="facebook" ></ion-icon></div>
    </div>
    
</ion-content>
