
<ion-content class="contenedor">
  <div class="ion-margin contenedorlogin">
    <div class="contenedorlogo">
        <img src="/assets/logos/logo.png" class="imagenlogo">
    </div>
 
    <form class="ion-margin" [formGroup]="formulario_login" (ngSubmit)="save()">
        <ion-item  lines="none" class="telefono" color="none" >
          <ion-icon slot="start" name="call-sharp" ></ion-icon>
          <ion-input type="text" [(ngModel)]="phoneNumber" placeholder="Teléfono" class="inputel" formControlName="telefono" autofocus="true" ></ion-input>
        </ion-item>
        <div class="alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">          
          <div class="container-error-message " *ngIf="telefono.errors.required &&  telefono.touched">
            <ion-icon slot="start" name="information-circle-sharp" color="danger" ></ion-icon>
            Debe ingresar su número de teléfono
          </div>
          <!--<div class="container-error-message " *ngIf="telefono.errors.minlength">
            <ion-icon slot="start" name="information-circle-sharp" color="danger" ></ion-icon>
            El teléfono debe tener 10 dígitos
          </div>
          <div class="container-error-message " *ngIf="telefono.errors.maxlength">
            <ion-icon slot="start" name="information-circle-sharp" color="danger" ></ion-icon>
            El teléfono debe tener 10 dígitos
          </div>-->
          <div class="container-error-message " *ngIf="telefono.errors.pattern">
            <ion-icon slot="start" name="information-circle-sharp" color="danger" ></ion-icon>
            El número debe ser válido
          </div>
        </div>
        <ion-item  lines="none" class="contrasena" color="none">
          <ion-icon slot="start" name="lock-closed-sharp" class="iconocontra"></ion-icon>
          <ion-input type="password" [(ngModel)]="password" placeholder="Contraseña" class="inputcontra" formControlName="contrasena" ></ion-input>
        </ion-item>
        <div class="alert-danger" *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)">
          <div class="container-error-message " *ngIf="contrasena.errors.required">
            <ion-icon slot="start" name="information-circle-sharp" color="danger" ></ion-icon>
            Debe ingresar su contraseña
          </div>
          <div class="container-error-message " *ngIf="contrasena.errors.minlength">
            <ion-icon slot="start" name="information-circle-sharp" color="danger" ></ion-icon>
            La contraseña debe tener mínimo 8 caracteres 
          </div>
        </div>
        <div class="recuperarcontra" (click)="abrirRecuperarContra()" >
          <span slot="end"><a   class="linkcontra" > ¿Olvidó su contraseña?</a></span>       
        </div>        
        <div class="contenedorboton">
          <!--[disabled]="!formulario_login.valid"-->
          <ion-button (click)="onSubmitLogin()"  type="submit" expand="block" fill="clear"  class="login" [disabled]="!formulario_login.valid" >
            Ingresar
          </ion-button>
        </div>
        <div class="registrar" (click)="abrirRegistro()" >
          <span slot="end" class="cuenta">¿No tienes una cuenta?&nbsp;<a  class="registro">Registrate</a></span>   
        </div>  
    </form>
  
    
    
    <div class="contenedor_division ion-margin">
      <ion-label class="opcion">Iniciar sesión con</ion-label>
      <hr width=90% color="white" class="linea" >
    </div>  

    <div class="padre">
      <div class="hijo"><ion-icon (click)="loginGoogle()" name="logo-google" class="google" ></ion-icon></div>
      <div class="hijo"><ion-icon name="logo-facebook" class="facebook" ></ion-icon></div>
    </div>
  </div>    
</ion-content>
