<ion-content class="contenedor">
  <div class="ion-margin contenedorlogin">
    <div class="contenedorlogo">
      <img src="/assets/logos/logo.png" class="imagenlogo" />
    </div>

    <form class="ion-margin" [formGroup]="loginForm">
      <ion-item lines="none" class="telefono" color="none">
        <ion-icon slot="start" name="call-sharp"></ion-icon>
        <ion-input type="text" maxlength="50" placeholder="Correo electrónico" class="inputel" formControlName="phoneField">
        </ion-input>
      </ion-item>
      <div class="container-error-message alert-danger" *ngIf="getError('phoneField') != ''">
        <ion-icon slot="start" name="information-circle-sharp" color="danger"></ion-icon>
        {{getError('phoneField')}}
      </div>
      <ion-item lines="none" class="contrasena" color="none">
        <ion-icon slot="start" name="lock-closed-sharp" class="iconocontra"></ion-icon>
        <ion-input [type]="showPassword ? 'text' : 'password' " placeholder="Contraseña" class="inputcontra"
          formControlName="passwordField"></ion-input>
        <ion-icon slot="end" [name]="passwordToogleIcon" (click)="toogglePassword()"></ion-icon>
      </ion-item>
      <div class="container-error-message alert-danger" *ngIf="getError('passwordField') != ''">
        <ion-icon slot="start" name="information-circle-sharp" color="danger"></ion-icon>
        {{getError('passwordField')}}
      </div>
      <div class="recuperarcontra" (click)="openRecoveryPassword()">
        <span slot="end"><a class="linkcontra"> ¿Olvidó su contraseña?</a></span>
      </div>
      <div class="contenedorboton">
        <!--[disabled]="!formulario_login.valid"-->
        <ion-button (click)="save()" expand="block" fill="clear" class="login" [disabled]="!loginForm.valid">
          Ingresar
        </ion-button>
      </div>
      <div class="registrar" (click)="openRegister()">
        <span slot="end" class="cuenta">¿No tienes una cuenta?&nbsp;<a class="registro">Registrate</a></span>
      </div>
    </form>

    <div class="contenedor_division ion-margin">
      <ion-label class="opcion">Iniciar sesión con</ion-label>
      <hr width="90%" color="white" class="linea" />
    </div>

    <div class="padre">
      <div class="hijo">
        <ion-icon (click)="loginGoogle()" name="logo-google" class="google"></ion-icon>
      </div>
      <div class="hijo">
        <ion-icon (click)="loginFacebook()" name="logo-facebook" class="facebook"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>