<ion-header>
  <ion-toolbar color="omipalidarkd" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Omi Pali
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="6">
        <p class="ion-text-end ion-text-wrap ion-padding-start">
          Subtotal : <strong>$ {{total}}</strong>
        </p>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let clave of productos | keyvalue">
      <ion-col size="12" *ngFor="let producto of clave.value | keyvalue">
        <app-card-carrito [precio]="producto.value.producto.Precio" [Titulo]="producto.value.producto.Titulo"
          [imagen]="producto.value.producto.ImagenP" [clave1]="clave.key" [clave2]="producto.key"
          [cantidad]="producto.value.cantidad"></app-card-carrito>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="omipalidarkd" (click)="eliminarTodo()">
      <ion-icon color="omipali" name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="cantidad>0">
  <ion-toolbar>
    <p class="ion-text-justify ion-text-wrap ion-padding-start" *ngIf="cantidad == 1">
      Subtotal ({{cantidad}} producto): <strong>$ {{total}}</strong>
    </p>
    <p class="ion-text-justify ion-text-wrap ion-padding-start" *ngIf="cantidad >1">
      Subtotal ({{cantidad}} productos): <strong>$ {{total}}</strong>
    </p>
    <ion-button expand="block" class="ion-margin-start ion-margin-end" color="omipalidarkd" (click)="comprar()">
      <ion-icon slot="start" name="cash" color="omipali"></ion-icon>
      <ion-text color="omipali">Comprar</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>