<ion-header>
  <ion-toolbar color="omipalidarkd" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <!-- <ion-img src="assets/logos/logoTexto.jpeg"></ion-img> -->
      Omi Pali
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let clave of productos | keyvalue">
    <ion-item-sliding *ngFor="let producto of clave.value | keyvalue">
      <ion-item>
        <ion-thumbnail>
          <img src="{{producto.value.producto.ImagenP}}" onerror="this.src='/assets/img/404.jpg';">
        </ion-thumbnail>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h5 class="ion-text-capitalize ion-text-wrap">{{producto.value.producto.Titulo}}</h5>
            </ion-col>
            <ion-col size="12">
              Precio: $ <strong>{{producto.value.producto.Precio}}</strong>
            </ion-col>
            <ion-col size="2"></ion-col>
            <ion-col size="3" class="spinnerIzq" (click)="decrementarProducto(1,clave.key,producto.key)">
              <ion-icon class="iconosSpinner" *ngIf="producto.value.cantidad>1" name="remove-circle-outline"></ion-icon>
              <ion-icon class="iconosSpinner" *ngIf="producto.value.cantidad==1" name="trash-outline"></ion-icon>
            </ion-col>
            <ion-col size="2" class="spinnerCentrar">{{producto.value.cantidad}}</ion-col>
            <ion-col size="3" class="spinnerDer" (click)="incrementarProducto(1,clave.key,producto.key)">
              <ion-icon class="iconosSpinner" name="add-circle-outline"></ion-icon>
            </ion-col>
            <ion-col size="2"></ion-col>

            <ion-icon color="danger" class="flechaItem" name="chevron-back-outline"></ion-icon>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="borrarProductoLista(clave.key,producto.key)">
          <ion-icon slot="bottom" name="trash-outline"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="omipalidarkd" (click)="eliminarTodo()">
      <ion-icon color="omipali" name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="cantidad>0">
  <ion-toolbar>
    <p class="ion-text-justify ion-text-wrap ion-padding-start" *ngIf="cantidad == 1">
      Subtotal ({{cantidad}} producto): <strong>$ {{total}}</strong>
    </p>
    <p class="ion-text-justify ion-text-wrap ion-padding-start" *ngIf="cantidad >1">
      Subtotal ({{cantidad}} productos): <strong>$ {{total}}</strong>
    </p>
    <!-- <ion-button expand="block" class="ion-margin-start ion-margin-end">A block button</ion-button> -->
  </ion-toolbar>
</ion-footer>