.contenedor{
    --background: url(/assets/fondos/fondo_capaomipali.jpg) 50% 50%/ 100% 100% no-repeat;
    //--background:#252424;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.enviarc{

    color:white;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 10%;
}
.texto{
    color: white;  
    //color: #98DBD9;
    //border: 2px solid white;
    //border-radius: 5px;
    font-size: 0.9rem;
}
.labelcorreo{
    color: white;  
    //color: #98DBD9;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}
.itemmensaje{
    padding-left: 10px;
}
.contendorf{
    background: rgba(0, 0, 0, 0.527);
    border-radius: 5px;
    //height: 300px;
}
img.imagenlogo{
    
    height: 125px;
};
.contenedorlogo{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 1%;
}
.formulario{
    padding-bottom: 10px;
}

.correo{
    text-align: left;
    color: white;  
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}

.itemmensaje{
    text-align: left;
}


.error-div{
    text-align: left;
    justify-content: left;
}
.span{
    text-decoration: none;
    
}
.error,.error-div{
    color: red;
    font-size: 0.8rem;
}


.alert-danger{
    color: red;
    text-align: left;
    margin-left: 3rem;

}
.container-error-message{
    padding-top: 2px;
    font-size: 0.8rem;
}
