<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenedor" fullscreen>
  <div class="ion-margin contendorf">
    <div class="contenedorlogo">
      <img src="assets/logos/logo.png" class="imagenlogo" />
    </div>
    <form
      class="ion-margin formulario"
      [formGroup]="recoveryForm"
      
    >
      <div class="itemmensaje">
        <ion-item color="none" lines="none" class="itemmensaje ion-no-padding">
          <h1 class="labelcorreo">Recuperar contraseña</h1>
        </ion-item>
      </div>
      <ion-item color="none" lines="none" class="texto">
        <p class="p">
          Ingresa tu correo electrónico para recibir mas información de como
          recuperar tu contraseña
        </p>
      </ion-item>

      <ion-item lines="none" class="correo" color="none">
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-input
          type="text"
          placeholder="Ingrese su correo electrónico"
          class="inputel"
          formControlName="emailField"
          autofocus="true"
        ></ion-input>
      </ion-item>
      <div
        class="container-error-message alert-danger"
        *ngIf="getError('emailField') != ''"
      >
        <ion-icon
          slot="start"
          name="information-circle-sharp"
          color="danger"
        ></ion-icon>
        <strong>{{getError('emailField')}}</strong>
      </div>
      <div class="contenedorboton">
        <ion-button
          (click)="save()"
          expand="block"
          fill="clear"
          class="enviarc"
          [disabled]="recoveryForm.invalid"
        >
          Enviar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
