#header {
    text-align: center;
    background-color: #85D6D0;
    text-decoration-color: brown;
    //position: absolute;
    left: 0;
    right: 0;
    top: 0;
    //transform: translateY(-50%);
  }

  ion-icon {
    color: #85D6D0;
  }

.padding{
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}