ion-fab {
  //background-color: yellow;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
  position: absolute;
  left: 2px;
  top: 150px;
  z-index: 3;
  //margin-top: 10px;
}

.fab-button-fav {
  position: absolute;
  left: 28px;
  top: 2px;
  z-index: 3;
  background-color: transparent !important;
  font-size: 30px;
  //color: transparent !important;
}

.icon {
  //margin-top: 150px;
  font-size: 30px;

  //background-color: red;
}



.colorFavorito {
    color: red !important;
}

.botonesIcionos {
  position: absolute;
    width: 100% !important;
    --background: transparent;
    --border-style: none;
    --border-width: 0px;
    --box-shadow: transparent;
    z-index: 3;
  left: 2.5rem;
  top: 0rem;
  font-size: 1rem;;
}


.img{
  width: 100%;
  height: 70%;
  //position: absolute;
  //height: 3rem;
}
