<ion-header translucent>
  <ion-toolbar color="omipalidarkd" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Pedidos</ion-title>
  </ion-toolbar>
  <ion-toolbar color="omipalidarkd">
    <ion-segment [(ngModel)]="segment" (ionChange)="cambioSegment($event);"> 
      <ion-segment-button value="active">
        <ion-label>ACTIVO</ion-label>
      </ion-segment-button>
      <ion-segment-button value="past">
        <ion-label>PASADOS</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="segment == 'active'">
    <section>
      <br><br>

      <section>
        <div class="center">
          <ion-label >TIEMPO RESTANTE: {{time | async}}</ion-label> <BR>
        </div>

        <div class="container">
          <br> <br>
          <ion-progress-bar value="0.25"></ion-progress-bar>

          <ul class="progressbar">
            <li class="active">CONFIRMANDO PEDIDO</li>
            <li class="noactive">ALISTANDO PEDIDO</li>
            <li class="noactive">ENVIANDO ENTREGADO</li>
            <br>
          </ul>
        </div>
      </section>

      <section>
        <ion-card class="delivery">
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/img/zac.png">
            </ion-avatar>
            <ion-row>
              <ion-card-header>{{deliveryName}}</ion-card-header>
            </ion-row>
            <ion-row>
              <ion-card-subtitle>REPARTIDOR</ion-card-subtitle>
            </ion-row>
          </ion-item>

          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-label>{{deliveryNumber}}</ion-label><br>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </section>

      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/icon/checkverde.png">
          </ion-avatar>
          <ion-card-header>PEDIDO #{{idPedido}}</ion-card-header>
          <ion-card-subtitle slot="end">Total ${{valorTotal}}</ion-card-subtitle>
        </ion-item>

        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-label>{{metodoEnvio}}</ion-label><br>
              <ion-label>Dirección: {{direccionEnvio}}</ion-label><br>
              <ion-label>Forma de Pago: {{metodoPago}}</ion-label><br><br>
            </ion-col>
            <ion-col>
              <button class="boton" (click)="cancelAlert()" ion-button icon-start clear small>
                <ion-label>CANCELAR</ion-label>
              </button>
            </ion-col>
          </ion-row>
          <ion-label class="tituloPedido">PEDIDO: </ion-label> <br>
          <ion-row>
            <ion-col size="1">
              {{amount}}
            </ion-col>
            <ion-col size="11">
              {{productName}}
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </section>
  </div>

  <div *ngIf="segment == 'past'">
    <section>
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/icon/check.png">
          </ion-avatar>
          <ion-card-header>PEDIDO {{idPedidoPast}}</ion-card-header>
          <ion-card-subtitle>{{fechaPedidoPast}}</ion-card-subtitle>

        </ion-item>

        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-label>Metodo de pago {{metodoEnvioPast}}</ion-label><br>
              <ion-label>Forma de pago: {{metodoPagoPast}}</ion-label><br>
            </ion-col>
            <ion-col>
              <button class="boton" ion-button icon-start clear small (click)="goCarrito()">
                <ion-label>REPETIR</ion-label>
              </button>
            </ion-col>
          </ion-row>


          <ion-label>{{amountPast}} {{productNamePast}}</ion-label><br>
          
        </ion-card-content>
      </ion-card>

    </section>
  </div>
</ion-content>