<ion-content>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let promocion of dataMostrar">
          <app-card-productos [Imagen]="promocion.foto" [Titulo]="promocion.nombre"
            [Descripcion]="promocion.descripcion" [Precio]="promocion.precio" [id]="promocion.idProducto"
            [carrusel]="promocion.slide" [categoria]="promocion.idCategoria"></app-card-productos>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-content>